.button{
    width: 100%;
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button.blue {
  background-color: #1F27F5;
  transition: background-color 0.3s;
}

.button.blue:hover {
  background-color: #151ccf;
}
.button.purple {
  background-color: #6f42c1;
}

.button.purple:hover {
  background-color: #5b36a0;
}