.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  padding: 20px;
  background-color: rgb(193, 181, 225);
  border: 1px solid rgb(75, 60, 124);
  border-radius: 6px;
  color: rgb(57, 41, 82);
  font-size: 24px;
}