.profile-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width:300;
    padding: 20px;
    background-color: rgb(184, 222, 210);
    border: 4px solid rgb(122, 170, 152);
    border-radius: 10px;
    font-size: 24px;
}

.profile-card-wrapper > img {
    width: 150px;
}